

body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(10px, 4vw, 100px);
}

.GameApeout {
    position: relative;
    top: -100px;
    
    background: url("apeout.png");
    background-size: contain;
    font-size: 100px;
    display: block;
    text-decoration: none;
}



a{
    position: relative;
    z-index: 1;
    color: white;
    display: block;
    font-size: 80px;
    display: block;
    text-decoration: none;
}


