h1 {
    color: white;
    size: 10px;
}

form {
    color: white;
    text-align: center;
    font-size: 26px;
}
a{
    position: relative;
    z-index: 1;
    color: rgb(184, 242, 255);
    display: block;
    text-align: center;
    font-size: 55px;
    display: block;
    text-decoration: none;
}



body {
    background: black;
}